<div class="Bg"></div>
<div class="Bg bottom"></div>
<div class="Center">
	<div class="right coder"></div>

	<div class="left">
		<div>
			<h1 id ="title1">Fire Syndicate</h1>
			<h2>Site Under Construction</h2>
		</div>
		<div class="text">
			Sorry our site is under contruction.
			<br>
			You can checkout our series at Manga Dex
			<br>
			or maybe join our Discord server.
			<br>
		<div/>
		<div id="btn-tray"> 
			<button class="button black-btn">Visit Mangadex</button>
			<button class="button white-btn">Join Discord</button>
		</div>

	</div>



</div>

