
<div class="Bg"></div>
<div class="Bg bottom"></div>
<div class="Center">
	<div class="right coder"></div>

	<div class="left">
		<div>
			<h1 id ="title1">Fire Syndicate</h1>
			<h2>Site Under Construction</h2>
		</div>
		<div class="text">
			Sorry, we are working on our site.
			<br>
			You can checkout our series at Manga Dex
			<br>
			or maybe join our Discord server.
			<br>
		<div/>
		<div id="btn-tray"> 
			<a href="https://mangadex.org/group/4366"><button id="Mangadex" class="button black-btn">Visit Mangadex</button></a>
			<a href="https://discord.gg/N5QR9PJ"><button class="button white-btn">Join Discord</button></a>
		</div>

	</div>



</div>

